<!DOCTYPE html>
<html lang="en">	
<head>

		<!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Dreams POS is a powerful Bootstrap based Inventory Management Admin Template designed for businesses, offering seamless invoicing, project tracking, and estimates.">
		<meta name="keywords" content="inventory management, admin dashboard, bootstrap template, invoicing, estimates, business management, responsive admin, POS system">
		<meta name="author" content="Dreams Technologies">
		<meta name="robots" content="index, follow">
		<title>Dreams POS - Inventory Management & Admin Dashboard Template</title>

		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

		<!-- Apple Touch Icon -->
		<link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">

		<!-- Datetimepicker CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">
		
		<!-- animation CSS -->
        <link rel="stylesheet" href="assets/css/animate.css">

		<!-- Select2 CSS -->
		<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

		<!-- Datatable CSS -->
		<link rel="stylesheet" href="assets/css/dataTables.bootstrap5.min.css">
		
        <!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

		<!-- Daterangepikcer CSS -->
		<link rel="stylesheet" href="assets/plugins/daterangepicker/daterangepicker.css">

		<!-- Tabler Icon CSS -->
		<link rel="stylesheet" href="assets/plugins/tabler-icons/tabler-icons.min.css">

		<!-- Datetimepicker CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="assets/plugins/owlcarousel/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/plugins/owlcarousel/owl.theme.default.min.css">
		
		<!-- Color Picker Css -->
	<link rel="stylesheet" href="assets/plugins/%40simonwep/pickr/themes/nano.min.css">

	    <!-- Main CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
		
	</head>
	
	<body class="pos-page">
		<div id="global-loader" >
			<div class="whirly-loader"> </div>
		</div>
		<!-- Main Wrapper -->
		<div class="main-wrapper pos-three pos-four">

			<!-- Header -->
			<div class="header pos-header">
			
				<!-- Logo -->
					<div class="header-left active">
						<a href="/dashboard" class="logo logo-normal">
							<img src="assets/img/log.png" alt="Img" style="height: 80px;">
						</a>
					</div>
				<!-- /Logo -->
				
				<a id="mobile_btn" class="mobile_btn d-none" href="#sidebar">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				
				<!-- Header Menu -->
				<ul class="nav user-menu">

					<!-- Search -->
					<li class="nav-item time-nav" style="margin-left:85px;">
						<span class="bg-teal text-white d-inline-flex align-items-center">
							<img src="assets/img/icons/clock-icon.svg" alt="img" class="me-2">
							<span id="liveClock">09:25:32</span>
						</span>
					</li>
					<script>
						function updateClock() {
							const now = new Date();
							const hours = String(now.getHours()).padStart(2, '0');
							const minutes = String(now.getMinutes()).padStart(2, '0');
							const seconds = String(now.getSeconds()).padStart(2, '0');
							const timeString = `${hours}:${minutes}:${seconds}`;
							document.getElementById('liveClock').textContent = timeString;
						}

						// Initial call
						updateClock();

						// Update every second
						setInterval(updateClock, 1000);
					</script>


					<!-- /Search -->
					
					<li class="nav-item pos-nav">
						<button  id="toggleNegativeSales" type="button" class="btn btn-purple btn-md d-inline-flex align-items-center">
							<%= negativeSalesActive ? 'Deactivate Negative Sales' : 'Activate Negative Sales' %>
						</button>
					</li>

					<!-- Select Store -->
					<li class="nav-item dropdown has-arrow main-drop select-store-dropdown">
						<a href="javascript:void(0);" class="dropdown-toggle nav-link select-store"
							data-bs-toggle="dropdown">
							<span class="user-info">
								<span class="user-letter">
									<img src="assets/img/store/store-01.png" alt="Store Logo" class="img-fluid">
								</span>
								<span class="user-detail">
									<span class="user-name">Freshmart</span>
								</span>
							</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets/img/store/store-01.png" alt="Store Logo" class="img-fluid">Freshmart
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets/img/store/store-02.png" alt="Store Logo" class="img-fluid">Grocery Apex
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets/img/store/store-03.png" alt="Store Logo" class="img-fluid">Grocery Bevy
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets/img/store/store-04.png" alt="Store Logo" class="img-fluid">Grocery Eden
							</a>
						</div>
					</li>
					<!-- /Select Store -->
					
					<li class="nav-item nav-item-box">
						<a href="#" data-bs-toggle="modal" data-bs-target="#calculator" class="bg-orange border-orange text-white"><i class="ti ti-calculator"></i></a>
					</li>
					<li class="nav-item nav-item-box">
						<a href="javascript:void(0);" id="btnFullscreen" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Maximize" >
							<i class="ti ti-maximize"></i>
						</a>
					</li>
					<li class="nav-item nav-item-box" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Cash Register">
						<a href="#" data-bs-toggle="modal" data-bs-target="#cash-register"><i class="ti ti-cash"></i></a>
					</li>
					<li class="nav-item nav-item-box" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Print Last Reciept">
						<a href="#"><i class="ti ti-printer"></i></a>
					</li>
					<li class="nav-item nav-item-box" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Today’s Sale">
						<a href="#" data-bs-toggle="modal" data-bs-target="#today-sale"><i class="ti ti-progress"></i></a>
					</li>
					<li class="nav-item nav-item-box" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Today’s Profit">
						<a href="#" data-bs-toggle="modal" data-bs-target="#today-profit"><i class="ti ti-chart-infographic"></i></a>
					</li>
					<li class="nav-item nav-item-box" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="POS Settings">
						<a href="pos-settings.html"><i class="ti ti-settings"></i></a>
					</li>
					<li class="nav-item dropdown has-arrow main-drop profile-nav">
						<a href="javascript:void(0);" class="nav-link userset" data-bs-toggle="dropdown">
							<span class="user-info p-0">
								<span class="user-letter">
									<img src="assets/img/profiles/avator1.jpg" alt="Img" class="img-fluid">
								</span>
							</span>
						</a>
						<div class="dropdown-menu menu-drop-user">
							<div class="profilename">
								<div class="profileset">
									<span class="user-img"><img src="assets/img/profiles/avator1.jpg" alt="Img">
										<span class="status online"></span></span>
									<div class="profilesets">
										<h6>John Smilga</h6>
										<h5>Super Admin</h5>
									</div>
								</div>
								<hr class="m-0">
								<a class="dropdown-item" href="profile.html"><i class="me-2" data-feather="user"></i>My
									Profile</a>
								<a class="dropdown-item" href="general-settings.html"><i class="me-2" data-feather="settings"></i>Settings</a>
								<hr class="m-0">
								<a class="dropdown-item logout pb-0" href="signin.html"><img src="assets/img/icons/log-out.svg" class="me-2" alt="img">Logout</a>
							</div>
						</div>
					</li>
				</ul>
				<!-- /Header Menu -->
				
				<!-- Mobile Menu -->
				<div class="dropdown mobile-user-menu">
					<a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="general-settings.html">Settings</a>
						<a class="dropdown-item" href="signin.html">Logout</a>
					</div>
				</div>
				<!-- /Mobile Menu -->
			</div>
			<!-- Header -->

				<!-- Sidebar -->
			<div class="sidebar" id="sidebar">
				<!-- Logo -->
				<div class="sidebar-logo">
					<a href="index.html" class="logo logo-normal" style="display: flex; align-items: center;">
						<img src="assets/img/log.png" alt="Img" style="height: 70px; width: 80px;">
					</a>
					<a id="toggle_btn" href="javascript:void(0);">
						<i data-feather="chevrons-left" class="feather-16"></i>
					</a>
				</div>
				<!-- /Logo -->
				<div class="modern-profile p-3 pb-0">
					<div class="text-center rounded bg-light p-3 mb-4 user-profile">
						<div class="avatar avatar-lg online mb-3">
							<img src="assets/img/customer/customer15.jpg" alt="Img" class="img-fluid rounded-circle">
						</div>
						<h6 class="fs-14 fw-bold mb-1">Adrian Herman</h6>
						<p class="fs-12 mb-0">System Admin</p>
					</div>
					<div class="sidebar-nav mb-3">
						<ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded nav-justified bg-transparent" role="tablist">
							<li class="nav-item"><a class="nav-link active border-0" href="#">Menu</a></li>
							<li class="nav-item"><a class="nav-link border-0" href="chat.html">Chats</a></li>
							<li class="nav-item"><a class="nav-link border-0" href="email.html">Inbox</a></li>
						</ul>
					</div>
				</div>
				<div class="sidebar-header p-3 pb-0 pt-2">
					<div class="text-center rounded bg-light p-2 mb-4 sidebar-profile d-flex align-items-center">
						<div class="avatar avatar-md onlin">
							<img src="assets/img/customer/customer15.jpg" alt="Img" class="img-fluid rounded-circle">
						</div>
						<div class="text-start sidebar-profile-info ms-2">
							<h6 class="fs-14 fw-bold mb-1">Adrian Herman</h6>
							<p class="fs-12">System Admin</p>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between menu-item mb-3">
						<div>
							<a href="index.html" class="btn btn-sm btn-icon bg-light">
								<i class="ti ti-layout-grid-remove"></i>
							</a>
						</div>
						<div>
							<a href="chat.html" class="btn btn-sm btn-icon bg-light">
								<i class="ti ti-brand-hipchat"></i>
							</a>
						</div>
						<div>
							<a href="email.html" class="btn btn-sm btn-icon bg-light position-relative">
								<i class="ti ti-message"></i>
							</a>
						</div>
						<div class="notification-item">
							<a href="activities.html" class="btn btn-sm btn-icon bg-light position-relative">
								<i class="ti ti-bell"></i>
								<span class="notification-status-dot"></span>
							</a>
						</div>
						<div class="me-0">
							<a href="general-settings.html" class="btn btn-sm btn-icon bg-light">
								<i class="ti ti-settings"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="submenu-open">
								<h6 class="submenu-hdr">Main</h6>
								<ul>
									<li>
										<a href="/dashboard"><i class="ti ti-layout-grid fs-16 me-2"></i><span>Dashboard</span></a>
									</li>
								</ul>
							</li>
							<li class="submenu-open">
								<h6 class="submenu-hdr">Inventory</h6>
								<ul>
									<li><a href="/manageBranch"><i class="ti ti-archive fs-16 me-2"></i><span>Branch</span></a>
									<li><a href="/manageParkingStore"><i class="ti ti-home-bolt fs-16 me-2"></i><span>Stores</span></a></li>
									<li><a href="/expiredProducts"><i class="ti ti-progress-alert fs-16 me-2"></i><span>Expired Products</span></a></li>
									<li><a href="/lowStock"><i class="ti ti-trending-up-2 fs-16 me-2"></i><span>Low Stocks</span></a></li>
									<li><a href="/addCategory"><i class="ti ti-list-details fs-16 me-2"></i><span>Category</span></a></li>
									<li><a href="/addUnit"><i class="ti ti-brand-unity fs-16 me-2"></i><span>Units</span></a></li>
								</ul>
							</li>
							<li class="submenu-open">
								<h6 class="submenu-hdr">Stock</h6>
								<ul>
									<li><a href="/manageProduct"><i data-feather="box"></i><span>Manage Stock</span></a></li>
									<li><a href="/adjustStock"><i class="ti ti-stairs-up fs-16 me-2"></i><span>Stock Adjustment</span></a></li>
									<li><a href="/price-adjustments"><i class="ti ti-cards fs-16 me-2"></i><span>Price Adjustment</span></a></li>
									<li><a href="/stockTransfer"><i class="ti ti-stack-pop fs-16 me-2"></i><span>Stock Transfer</span></a></li>
								</ul>
							</li>
							<li class="submenu-open">
								<h6 class="submenu-hdr">Sales</h6>
								<ul>
									<li class="submenu">
										<a href="javascript:void(0);"><i class="ti ti-layout-grid fs-16 me-2"></i><span>Sales</span><span class="menu-arrow"></span></a>
										<ul>
											<li><a href="/createSales">Create Sales</a></li>
											<li><a href="/manage-sales">Manage Sales</a></li>
										</ul>
									</li>
									<li><a href="invoice.html"><i class="ti ti-file-invoice fs-16 me-2"></i><span>Invoices</span></a></li>
								</ul>
							</li>
							<li class="submenu-open">
								<h6 class="submenu-hdr">Purchases</h6>
								<ul>
									<li><a href="/purchase-stock"><i class="ti ti-shopping-bag fs-16 me-2"></i><span>Purchases</span></a></li>
									<li><a href="/managePurchase"><i class="ti ti-file-unknown fs-16 me-2"></i><span>Purchase Order</span></a></li>
								</ul>
							</li>
							<li class="submenu-open">
								<h6 class="submenu-hdr">Finance & Accounts</h6>
								<ul>
									<li class="submenu">
										<a href="javascript:void(0);"><i class="ti ti-file-stack fs-16 me-2"></i><span>Expenses</span><span class="menu-arrow"></span></a>
										<ul>
											<li><a href="/expense">Expenses</a></li>
											<li><a href="/expense-category">Expense Category</a></li>
										</ul>
									</li>									
									<li><a href="/SuppliersInvoice"><i class="ti ti-file-pencil fs-16 me-2"></i><span>Supplier Invoice</span></a></li>
									<li><a href="/transactions"><i class="ti ti-building-bank fs-16 me-2"></i><span>Payments</span></a></li>
									<li><a href="/manageLoan"><i class="ti ti-moneybag fs-16 me-2"></i><span>Loan</span></a></li>

								</ul>
							</li>
							<li class="submenu-open">
								<h6 class="submenu-hdr">Peoples</h6>
								<ul>
									<li><a href="/customer"><i class="ti ti-users-group fs-16 me-2"></i><span>Customers</span></a></li>
									<li><a href="/loan"><i class="ti ti-user-up fs-16 me-2"></i><span>Loaners</span></a></li>
									<li><a href="/supplier"><i class="ti ti-user-dollar fs-16 me-2"></i><span>Suppliers</span></a></li>
									</li>
								</ul>
							</li>
							<!-- <li class="submenu-open">
								<h6 class="submenu-hdr">HRM</h6>
								<ul>
									<li><a href="employees-grid.html"><i class="ti ti-user fs-16 me-2"></i><span>Employees</span></a></li>
									<li><a href="department-grid.html"><i class="ti ti-compass fs-16 me-2"></i><span>Departments</span></a></li>
									<li><a href="designation.html"><i class="ti ti-git-merge fs-16 me-2"></i><span>Designation</span></a></li>
									<li><a href="shift.html"><i class="ti ti-arrows-shuffle fs-16 me-2"></i><span>Shifts</span></a></li>
									<li class="submenu">
										<a href="javascript:void(0);"><i class="ti ti-user-cog fs-16 me-2"></i><span>Attendence</span><span class="menu-arrow"></span></a>
										<ul>
											<li><a href="attendance-employee.html">Employee</a></li>
											<li><a href="attendance-admin.html">Admin</a></li>
										</ul>
									</li>
									<li class="submenu">
										<a href="javascript:void(0);"><i class="ti ti-calendar fs-16 me-2"></i><span>Leaves</span><span class="menu-arrow"></span></a>
										<ul>
											<li><a href="leaves-admin.html">Admin Leaves</a></li>
											<li><a href="leaves-employee.html">Employee Leaves</a></li>
											<li><a href="leave-types.html">Leave Types</a></li>
										</ul>
									</li>
									<li><a href="holidays.html"><i class="ti ti-calendar-share fs-16 me-2"></i><span>Holidays</span></a>
									</li>
									<li class="submenu">
										<a href="employee-salary.html"><i class="ti ti-file-dollar fs-16 me-2"></i><span>Payroll</span><span class="menu-arrow"></span></a>
										<ul>
											<li><a href="employee-salary.html">Employee Salary</a></li>
											<li><a href="payslip.html">Payslip</a></li>
										</ul>
									</li>
								</ul>
							</li> -->
							<li class="submenu-open">
								<h6 class="submenu-hdr">Reports</h6>
								<ul>
									<li class="submenu">
										<a href="javascript:void(0);"><i class="ti ti-chart-bar fs-16 me-2"></i><span>Sales Report</span><span class="menu-arrow"></span></a>
										<ul>
											<li><a href="/sales-report">Detailed Sales Report</a></li>
											<li><a href="/sales-report-summary">Summary Report</a></li>
										</ul>
									</li>
									<li><a href="/purchase-report"><i class="ti ti-chart-pie-2 fs-16 me-2"></i><span>Purchase report</span></a></li>
									<li class="submenu">
										<a href="javascript:void(0);"><i class="ti ti-triangle-inverted fs-16 me-2"></i><span>Inventory Report</span><span class="menu-arrow"></span></a>
										<ul>
											<li><a href="/stock-report">Stock Report</a></li>
											<li><a href="/sold-stock-report">Sold Stock</a></li>
											<li><a href="/parking-stock-report">Parking Store Report</a></li>
										</ul>
									</li>
									<li>
										<a href="/supplier-report"><i class="ti ti-user-star fs-16 me-2"></i><span>Supplier Report</span></a>
										
									</li>
									<li>
										<a href="/customer-report"><i class="ti ti-report fs-16 me-2"></i><span>Customer Report</span></a>
									</li>
									<li><a href="expense-report.html"><i class="ti ti-file-vector fs-16 me-2"></i><span>Expense Report</span></a></li>
									<li><a href="profit-and-loss.html"><i class="ti ti-chart-donut fs-16 me-2"></i><span>Profit & Loss</span></a></li>
								</ul>
							</li>
							<li class="submenu-open">
								<h6 class="submenu-hdr">User Management</h6>
								<ul>
									<li><a href="users.html"><i class="ti ti-shield-up fs-16 me-2"></i><span>Users</span></a></li>
									<li><a href="roles-permissions.html"><i class="ti ti-jump-rope fs-16 me-2"></i><span>Roles & Permissions</span></a></li>
									<li><a href="delete-account.html"><i class="ti ti-trash-x fs-16 me-2"></i><span>Delete Account Request</span></a></li>
								</ul>
							</li>
							<li class="submenu-open">
								<h6 class="submenu-hdr">Profile</h6>
								<ul>
									<li><a href="profile.html"><i class="ti ti-user-circle fs-16 me-2"></i><span>Profile</span></a></li>
									<li>
										<a href="signin.html"><i class="ti ti-logout fs-16 me-2"></i><span>Logout</span> </a>
									</li>
								</ul>
							</li>
							
							<li class="submenu-open">
								<h6 class="submenu-hdr">Logs</h6>
								<ul>
									<li><a href="/view-log"><i class="ti ti-file-text fs-16 me-2"></i><span>View Logs</span></a></li>								
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Sidebar -->

			
			<div class="page-wrapper">
				<div class="content pos-design p-0">

					<div class="row align-items-start pos-wrapper">

					

						<!-- Order Details -->
						<div class="col-md-12 col-lg-12 ps-0 theiaStickySidebar">
							<form action="/addinvoice" method="post">
								<aside class="product-order-list">
									<div class="customer-info">
										<div class="order-head bg-light d-flex align-items-center justify-content-between w-100 mb-3">
											<div>
												<h3>Welcome, <%= user.fullname %>!</h3>
												<span>Create Sales</span>
											</div>
											<div>
												<h4 id="negativeSalesBanner" class="text-xl font-semibold italic text-gray-800 mb-4" style="display: <%= negativeSalesActive ? 'block' : 'none' %>;">
													Negative Sales Activated
												</h4>

											</div>
										</div>
										<script>
										document.addEventListener("DOMContentLoaded", function () {
											const toggleBtn = document.getElementById("toggleNegativeSales");
											const banner = document.getElementById("negativeSalesBanner");

											toggleBtn.addEventListener("click", function () {
											fetch("/settings/toggle-negative-sales", {
												method: "POST",
												headers: {
												"Content-Type": "application/json"
												}
											})
											.then(response => response.json())
											.then(data => {
												if (data.success) {
												const isActive = data.active;

												// Update button label
												toggleBtn.textContent = isActive
													? "Deactivate Negative Sales"
													: "Activate Negative Sales";

												// Show/hide banner
												if (isActive) {
													banner.style.display = "block";
												} else {
													banner.style.display = "none";
												}
												} else {
												alert("Failed to toggle setting.");
												}
											})
											.catch(err => {
												console.error("Toggle error:", err);
												alert("Something went wrong!");
											});
											});
										});
										</script>

										<div class="row g-3">
											<div class="col-md-4">
												<div class="input-icon-end position-relative">
													<input type="date" id="payment_date" name="payment_date" class="form-control" placeholder="dd/mm/yyyy">
												</div>
												<script>
													const today = new Date().toISOString().split('T')[0];
													document.getElementById('payment_date').value = today;
												</script>
											</div>
											<div class="col-md-4 position-relative">
												<input type="text" class="form-control" name="customer_name" id="customerSearch" autocomplete="off" placeholder="Search Customer">
												<input type="hidden" name="customer_id" id="customerIdField">
												<div id="customerSuggestions" class="list-group position-absolute w-100 z-3" style="max-height: 150px; overflow-y: auto;"></div>
											</div>
											<div class="col-md-4">
												<select class="select" name="sales_type">
													<option>Sales Type</option>
													<option value="cash">Cash</option>
													<option value="credit">Credit</option>
												</select>
											</div>
											
											<div class="col-md-6">
												<label for="">Payment Type</label>										
												<select class="select" name="payment_type">
													<option value="cash">Cash</option>
													<option value="pos">POS</option>
													<option value="transfer">Bank Transfer</option>
												</select>
											</div>
										</div>
									</div>								
									<div class="product-added block-section">
										<div class="d-flex align-items-center justify-content-between gap-3 mb-3">
											<h5 class="d-flex align-items-center mb-0">Order Details</h5>
											<div class="badge bg-light text-gray-9 fs-12 fw-semibold py-2 border rounded">Items : <span class="text-teal" id="itemCount"></span></div>
											<script>
document.addEventListener("DOMContentLoaded", function () {
  const tbody = document.querySelector("tbody");
  const itemCountSpan = document.getElementById("itemCount");

  function updateItemCount() {
    const rows = tbody.querySelectorAll("tr.text-sm");
    const validRows = Array.from(rows).filter(row => {
      const input = row.querySelector(".productSearch");
      return input && input.value.trim() !== "";
    });

    itemCountSpan.textContent = validRows.length;
  }

  // Attach item count update after new product selection
  const observer = new MutationObserver(updateItemCount);
  observer.observe(tbody, { childList: true, subtree: true });

  // Optional: run once on page load
  updateItemCount();

  // Export if needed in other functions
  window.updateItemCount = updateItemCount;
});
</script>

										</div>
										<div class="product-wrap">
											<div class="empty-cart">
												<div class="mb-1">
													<img src="assets/img/icons/empty-cart.svg" alt="img">
												</div>
												<p class="fw-bold">No Products Selected</p>
											</div>
											<div class="product-list border-0 p-0">
												<div class="table-responsive">
													<table class="table table-borderless">
  <thead>
    <tr>
      <th class="bg-transparent fw-bold">Search Product</th>
      <th class="bg-transparent fw-bold">InStock</th>
      <th class="bg-transparent fw-bold">QTY</th>
      <th class="bg-transparent fw-bold">Unit Code</th>
      <th class="bg-transparent fw-bold">Price</th>
      <th class="bg-transparent fw-bold">Sub Total</th>
      <th class="bg-transparent fw-bold text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <!-- First visible row -->
    <tr class="text-sm product-row">
      <td style="position: relative;">
        <input class="form-control productSearch" autocomplete="off" type="text" name="product" placeholder="product">
        <ul class="productSuggestions absolute z-10 w-full bg-white border border-gray-200 mt-1 rounded shadow text-sm max-h-60 overflow-y-auto d-none" style="min-height: 100px;"></ul>
      </td>
      <td><input type="number" value="0" class="form-control" readonly></td>
      <td><input name="qty" type="number" class="form-control"></td>
      <td><select name="unitcode" class="form-control"></select></td>
      <td><input name="rate" type="number" value="0.00" class="form-control" readonly></td>
      <td><input name="total" type="text" value="0.00" class="form-control bg-gray-100" readonly></td>
      <td class="text-center">
        <button class="btn btn-sm btn-danger delete-btn">Delete</button>
      </td>
    </tr>

    <!-- Hidden template row -->
    <tr class="text-sm product-row d-none" id="productRowTemplate">
      <td style="position: relative;">
        <input class="form-control productSearch" autocomplete="off" type="text" name="product" placeholder="product">
        <ul class="productSuggestions absolute z-10 w-full bg-white border border-gray-200 mt-1 rounded shadow text-sm max-h-60 overflow-y-auto d-none" style="min-height: 100px;"></ul>
      </td>
      <td><input type="number" value="0" class="form-control" readonly></td>
      <td><input name="qty" type="number" class="form-control"></td>
      <td><select name="unitcode" class="form-control"></select></td>
      <td><input name="rate" type="number" value="0.00" class="form-control" readonly></td>
      <td><input name="total" type="text" value="0.00" class="form-control bg-gray-100" readonly></td>
      <td class="text-center">
        <button class="btn btn-sm btn-danger delete-btn">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

												</div>
											</div>										
										</div>
									</div>
									<div class="block-section order-method bg-light m-0">									
										<div class="order-total">
											<div class="table-responsive" id="totalsBreakdown">
												<table class="table table-borderless" >
													<tr>
														<td>Paid Amount</td>
														<td class="text-end" style="width: 16%;">
															<input autocomplete="off" placeholder="Paid Amount"  name="paid_amount" type="number" class="form-control">
														</td>
													</tr>
													<tr>
														<td>Sub Total</td>
														<td class="text-end" id="subtotalDisplay">₦0.00</td>
													</tr>
													<tr>
														<td>Customer Credit Limit</td>
														<td class="text-end" id="creditLimitDisplay">+₦0.00</td>
													</tr>
													<tr>
														<td>Customer Balance</td>
														<td class="text-end text-danger" id="balanceDisplay">-₦0.00</td>
													</tr>
													<tr>
														<td><span class="text-danger">Discount</span></td>
														<td class="text-end" style="width: 16%;"><input  id="discountInput"  placeholder="Add Discount" name="discount" type="number" class="form-control"></td>
													</tr>
													<tr>
														<td>Grand Total</td>
														<td class="text-end" style="width: 16%;"><input id="grandTotalInput" placeholder="Grand Total" name="grand_total" type="number" class="form-control"></td>
													</tr>
												</table>
												<style>
													#salesWarningBox {
  font-size: 0.9rem;
  color: orange;
}

												</style>
												<div id="salesWarningBox" class="text-warning mt-2"></div>

											</div>
										</div>			
																		
									</div>
									<div class="block-section payment-method">
										<div class="btn-block m-0">
											<button id="payButton" class="btn btn-teal w-100">
												Pay Now
											</button>
										</div>
									</div>
								</aside>
							</form>
						</div>
						<!-- /Order Details -->

					</div>
				</div>
			</div>

		</div>
		<!-- /Main Wrapper -->


		 <!-- Calculator -->
		<div class="modal fade pos-modal" id="calculator" tabindex="-1"  aria-hidden="true">
			<div class="modal-dialog modal-md modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body p-0">
						<div class="calculator-wrap">
							<div class="p-3">
								<div class="d-flex align-items-center">
									<h3>Calculator</h3>
									<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>							
								<div>
									<input class="input" type="text" placeholder="0" readonly>
								</div>
							</div>
							<div class="calculator-body d-flex justify-content-between">
								<div class="text-center">
									<button class="btn btn-clear" onclick="if (!window.__cfRLUnblockHandlers) return false; clr()" data-cf-modified-d196ad48c7053401660cf1c4-="">C</button>
									<button class="btn btn-number" onclick="if (!window.__cfRLUnblockHandlers) return false; dis('7')" data-cf-modified-d196ad48c7053401660cf1c4-="">7</button>
									<button class="btn btn-number" onclick="if (!window.__cfRLUnblockHandlers) return false; dis('4')" data-cf-modified-d196ad48c7053401660cf1c4-="">4</button>
									<button class="btn btn-number" onclick="if (!window.__cfRLUnblockHandlers) return false; dis('1')" data-cf-modified-d196ad48c7053401660cf1c4-="">1</button>
									<button class="btn btn-number" onclick="if (!window.__cfRLUnblockHandlers) return false; dis(',')" data-cf-modified-d196ad48c7053401660cf1c4-="">,</button>
								</div>
								<div class="text-center">
									<button class="btn btn-expression" onclick="if (!window.__cfRLUnblockHandlers) return false; dis('https://dreamspos.dreamstechnologies.com/')" data-cf-modified-d196ad48c7053401660cf1c4-="">÷</button>
									<button class="btn btn-number" onclick="if (!window.__cfRLUnblockHandlers) return false; dis('8')" data-cf-modified-d196ad48c7053401660cf1c4-="">8</button>
									<button class="btn btn-number" onclick="if (!window.__cfRLUnblockHandlers) return false; dis('5')" data-cf-modified-d196ad48c7053401660cf1c4-="">5</button>
									<button class="btn btn-number" onclick="if (!window.__cfRLUnblockHandlers) return false; dis('2')" data-cf-modified-d196ad48c7053401660cf1c4-="">2</button>
									<button class="btn btn-number" onclick="if (!window.__cfRLUnblockHandlers) return false; dis('00')" data-cf-modified-d196ad48c7053401660cf1c4-="">00</button>									
								</div>
								<div class="text-center">
									<button class="btn btn-expression" onclick="if (!window.__cfRLUnblockHandlers) return false; dis('%')" data-cf-modified-d196ad48c7053401660cf1c4-="">%</button>
									<button class="btn btn-number" onclick="if (!window.__cfRLUnblockHandlers) return false; dis('9')" data-cf-modified-d196ad48c7053401660cf1c4-="">9</button>
									<button class="btn btn-number" onclick="if (!window.__cfRLUnblockHandlers) return false; dis('6')" data-cf-modified-d196ad48c7053401660cf1c4-="">6</button>
									<button class="btn btn-number" onclick="if (!window.__cfRLUnblockHandlers) return false; dis('3')" data-cf-modified-d196ad48c7053401660cf1c4-="">3</button>
									<button class="btn btn-number" onclick="if (!window.__cfRLUnblockHandlers) return false; dis('.')" data-cf-modified-d196ad48c7053401660cf1c4-="">.</button>									
								</div>
								<div class="text-center">
									<button class="btn btn-clear" onclick="if (!window.__cfRLUnblockHandlers) return false; back()" data-cf-modified-d196ad48c7053401660cf1c4-=""><i class="ti ti-backspace"></i></button>
									<button class="btn btn-expression" onclick="if (!window.__cfRLUnblockHandlers) return false; dis('*')" data-cf-modified-d196ad48c7053401660cf1c4-="">x</button>
									<button class="btn btn-expression" onclick="if (!window.__cfRLUnblockHandlers) return false; dis('-')" data-cf-modified-d196ad48c7053401660cf1c4-="">-</button>
									<button class="btn btn-expression" onclick="if (!window.__cfRLUnblockHandlers) return false; dis('+')" data-cf-modified-d196ad48c7053401660cf1c4-="">+</button>
									<button class="btn btn-clear" onclick="if (!window.__cfRLUnblockHandlers) return false; solve()" data-cf-modified-d196ad48c7053401660cf1c4-="">=</button>									
								</div>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Calculator -->


<script>
document.addEventListener('DOMContentLoaded', function () {
  const tbody = document.querySelector("tbody");
  const template = document.getElementById("productRowTemplate");

  const discountInput = document.getElementById("discountInput");
  const paidAmountInput = document.querySelector("input[name='paid_amount']");
  const grandTotalInput = document.getElementById("grandTotalInput");
  const salesTypeSelect = document.querySelector("select[name='sales_type']");

  const subtotalDisplay = document.getElementById("subtotalDisplay");
  const creditLimitDisplay = document.getElementById("creditLimitDisplay");
  const balanceDisplay = document.getElementById("balanceDisplay");

  // Add this to HTML: <div id="salesWarningBox" class="text-warning mt-2"></div>
  const salesWarningBox = document.getElementById("salesWarningBox");

  const customerIdField = document.getElementById("customerIdField");
  const input = document.getElementById("customerSearch");
  const suggestionBox = document.getElementById("customerSuggestions");

  let customerBalanceValue = 0; // shared by both parts
  let customerCreditLimit = 0;

  function attachProductEvents(row) {
    const productInput = row.querySelector(".productSearch");
    const productSuggestions = row.querySelector(".productSuggestions");
    const unitSelect = row.querySelector("select[name='unitcode']");
    const qtyInput = row.querySelector("input[name='qty']");
    const rateInput = row.querySelector("input[name='rate']");
    const totalInput = row.querySelector("input[name='total']");
    let selectedProduct = null;

    productInput.addEventListener("input", async () => {
      const query = productInput.value.trim();
      if (query.length < 1) {
        productSuggestions.classList.add("d-none");
        return;
      }
      try {
        const res = await fetch(`/search-products?q=${query}`);
        const products = await res.json();
        productSuggestions.innerHTML = "";
        products.forEach(product => {
          const li = document.createElement("li");
          li.className = "p-2 hover:bg-gray-100 cursor-pointer";
          li.style.display = 'block';
          li.style.width = '100%';
          li.style.whiteSpace = 'nowrap';
          li.style.overflow = 'hidden';
          li.style.textOverflow = 'ellipsis';

          li.textContent = `${product.product} (${product.available_qty ?? 0} available)`;
          li.addEventListener("click", () => {
            productInput.value = product.product;
            selectedProduct = product;

            const firstVariant = product.variants[0] || {};
            row.querySelector("td:nth-child(2) input").value = firstVariant.quantity ?? 0;
            rateInput.value = firstVariant.sellPrice ?? 0;

            unitSelect.innerHTML = "";
            product.variants.forEach(variant => {
              const option = document.createElement("option");
              option.value = variant.unitCode;
              option.textContent = variant.unitCode;
              unitSelect.appendChild(option);
            });

            totalInput.value = ((parseFloat(rateInput.value) || 0) * (parseFloat(qtyInput.value) || 1)).toFixed(2);
            productSuggestions.classList.add("d-none");
            updateTotals();
            maybeAddNewRow(row);
          });
          productSuggestions.appendChild(li);
        });
        productSuggestions.classList.remove("d-none");
      } catch (e) {
        console.error(e);
      }
    });

    qtyInput.addEventListener("input", () => {
      updateRowTotal(row);
      maybeAddNewRow(row);
    });

    unitSelect.addEventListener("change", () => {
      if (selectedProduct) {
        const variant = selectedProduct.variants.find(v => v.unitCode === unitSelect.value);
        if (variant) {
          rateInput.value = variant.sellPrice;
          row.querySelector("td:nth-child(2) input").value = variant.quantity ?? 0;
          updateRowTotal(row);
        }
      }
    });

    document.addEventListener("click", (e) => {
      if (!productInput.contains(e.target) && !productSuggestions.contains(e.target)) {
        productSuggestions.classList.add("d-none");
      }
    });
  }

  function updateRowTotal(row) {
    const qty = parseFloat(row.querySelector("input[name='qty']").value) || 0;
    const rate = parseFloat(row.querySelector("input[name='rate']").value) || 0;
    row.querySelector("input[name='total']").value = (qty * rate).toFixed(2);
    updateTotals();
  }

  function bindRowEvents(row) {
    attachProductEvents(row);
    row.querySelector(".delete-btn")?.addEventListener("click", () => {
      const allRows = tbody.querySelectorAll(".product-row:not(.d-none)");
      if (allRows.length > 1) {
        row.remove();
        updateTotals();
      }
    });
  }

  function addNewRow() {
    const newRow = template.cloneNode(true);
    newRow.id = "";
    newRow.classList.remove("d-none");
    newRow.querySelectorAll("input").forEach(input => {
      input.value = input.readOnly ? "0" : "";
    });
    newRow.querySelector("select").innerHTML = "<option value=''>Select Unit</option>";
    newRow.querySelector(".productSuggestions").innerHTML = "";
    newRow.querySelector(".productSuggestions").classList.add("d-none");
    bindRowEvents(newRow);
    tbody.appendChild(newRow);
  }

  function maybeAddNewRow(currentRow) {
    const allRows = tbody.querySelectorAll(".product-row:not(.d-none)");
    if (currentRow === allRows[allRows.length - 1]) {
      addNewRow();
    }
  }

  function updateTotals() {
    let subtotal = 0;
    tbody.querySelectorAll(".product-row:not(.d-none)").forEach(row => {
      subtotal += parseFloat(row.querySelector("input[name='total']").value) || 0;
    });

    const discount = parseFloat(discountInput?.value) || 0;
    let salesType = salesTypeSelect?.value || "cash";
    let grandTotal = subtotal - discount;

    salesWarningBox.textContent = ""; // clear warning

    if (salesType === "cash") {
      if (customerBalanceValue < 0) {
        grandTotal += Math.abs(customerBalanceValue);
      } else if (customerBalanceValue > 0) {
        salesWarningBox.textContent = `Customer has a balance of ₦${customerBalanceValue.toLocaleString()}. Switched to credit sales.`;
        salesTypeSelect.value = "credit";
        salesType = "credit";
      }
      paidAmountInput.value = grandTotal.toFixed(2);
      paidAmountInput.setAttribute("readonly", true);
    } else {
      paidAmountInput.removeAttribute("readonly");
    }

    subtotalDisplay.textContent = `₦${subtotal.toFixed(2)}`;
    grandTotalInput.value = grandTotal.toFixed(2);
    creditLimitDisplay.textContent = `+₦${customerCreditLimit.toLocaleString()}`;
  }

  // Customer search & select
  input.addEventListener("input", function () {
    const query = input.value.trim();
    if (!query) {
      suggestionBox.innerHTML = '';
      return;
    }

    fetch(`/searchCustomer?q=${encodeURIComponent(query)}`)
      .then(res => res.json())
      .then(customers => {
        suggestionBox.innerHTML = '';
        if (customers.length === 0) {
          suggestionBox.innerHTML = '<div class="list-group-item">No matches found</div>';
          return;
        }

        customers.forEach(customer => {
          const div = document.createElement('div');
          div.className = 'list-group-item list-group-item-action';
          div.textContent = customer.name;

          div.addEventListener('click', () => {
            input.value = customer.name;
            customerIdField.value = customer._id;

            customerCreditLimit = Number(customer.credit_limit) || 0;
            customerBalanceValue = Number(customer.remaining_amount) || 0;

            creditLimitDisplay.textContent = `+₦${customerCreditLimit.toLocaleString()}`;

            if (customerBalanceValue < 0) {
              balanceDisplay.textContent = `-₦${Math.abs(customerBalanceValue).toLocaleString()}`;
              balanceDisplay.classList.remove('text-primary');
              balanceDisplay.classList.add('text-danger');
            } else {
              balanceDisplay.textContent = `+₦${customerBalanceValue.toLocaleString()}`;
              balanceDisplay.classList.remove('text-danger');
              balanceDisplay.classList.add('text-primary');
            }

            suggestionBox.innerHTML = '';
            updateTotals(); // recalculate totals immediately
          });

          suggestionBox.appendChild(div);
        });
      })
      .catch(err => {
        console.error("Error fetching customers:", err);
        suggestionBox.innerHTML = '';
      });
  });

  document.addEventListener('click', function (e) {
    if (!input.contains(e.target) && !suggestionBox.contains(e.target)) {
      suggestionBox.innerHTML = '';
    }
  });

  discountInput?.addEventListener("input", updateTotals);
  paidAmountInput?.addEventListener("input", updateTotals);
  salesTypeSelect?.addEventListener("change", updateTotals);

  const firstRow = tbody.querySelector(".product-row:not(.d-none)");
  if (firstRow) bindRowEvents(firstRow);

  updateTotals();
});
</script>

<script>
document.querySelector("form").addEventListener("submit", function (e) {
  const tbody = document.querySelector("tbody");
  const rows = tbody.querySelectorAll(".product-row:not(.d-none)");

  rows.forEach(row => {
    const product = row.querySelector("input[name='product']")?.value.trim();
    const qty = parseFloat(row.querySelector("input[name='qty']")?.value) || 0;
    const unit = row.querySelector("select[name='unitcode']")?.value.trim();

    const isInvalid = !product || qty <= 0 || !unit;

    if (isInvalid) {
      row.remove(); // This is key: remove the full row so browser doesn't submit its fields
    }
  });
});
</script>






		
		<!-- jQuery -->
		<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.7.1.min.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>

		<!-- Feather Icon JS -->
		<script src="assets/js/feather.min.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>

		<!-- Slimscroll JS -->
		<script src="assets/js/jquery.slimscroll.min.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="assets/js/bootstrap.bundle.min.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>

		<!-- Chart JS -->
		<script src="assets/plugins/apexchart/apexcharts.min.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>
		<script src="assets/plugins/apexchart/chart-data.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>

		<!-- Datatable JS -->
		<script src="assets/js/jquery.dataTables.min.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>
		<script src="assets/js/dataTables.bootstrap5.min.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>

		<!-- Daterangepikcer JS -->
		<script src="assets/js/moment.min.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>
		<script src="assets/js/bootstrap-datetimepicker.min.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>
		<script src="assets/plugins/daterangepicker/daterangepicker.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>

		<!-- Owl JS -->
		<script src="assets/plugins/owlcarousel/owl.carousel.min.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>

		<!-- Select2 JS -->
		<script src="assets/plugins/select2/js/select2.min.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>

		<!-- Sticky-sidebar -->
		<script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>
		<script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>

		<!-- Color Picker JS -->
		<script src="assets/plugins/%40simonwep/pickr/pickr.es5.min.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/theme-colorpicker.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>
		<script src="assets/js/calculator.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>
		<script src="assets/js/script.js" type="d196ad48c7053401660cf1c4-text/javascript"></script>
	
	<script src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="d196ad48c7053401660cf1c4-|49" defer></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"951ebb202d09d7e3","version":"2025.6.2","serverTiming":{"name":{"cfExtPri":true,"cfEdge":true,"cfOrigin":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"3ca157e612a14eccbb30cf6db6691c29","b":1}' crossorigin="anonymous"></script>
</body>

</html>